.env
.env.*
!.env.example
docker-compose.override.yml

**/bin/
**/obj/
**/node_modules/
**/dist/
**/__pycache__/
.venv/
venv/
env/
**/.venv/
**/venv/
**/env/
.npm-cache/
*.pyc

.vs/
.vscode/
*.user
*.suo
*.log

Thumbs.db
.DS_Store
